<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bank.css" />  
  <title>Account open</title>
</head>

<body>
  <a href="/index">Return to Bank Menu</a>  
  <h2>Account Open Form</h2>
  <p>{{message}}</p>
  <section class="blockForm">
    <form action="/accountOpen" method="POST">

      <div>
        <label for="chequing">Chequing:</label>
        <input type="radio" name="accountSelection" id="chequing" value="Chequing" onclick="checkSubmit()">
      </div>

      <div>
        <label for="savings">Saving: </label>
        <input type="radio" name="accountSelection" id="saving" value="Saving" onclick="checkSubmit()">
      </div>
      <br />
      <input type="submit" value="Submit" id="btSubmit">
    </form>

    <script>

      function checkSubmit() {
        var bt = document.getElementById('btSubmit');
        if ((document.getElementById("chequing").checked) || (document.getElementById("savings").checked)) {
          bt.disabled = false;
        }

        else {
          bt.disabled = true;
        }

      }

    </script>


</body>

</html>
